 
        *{
            color:rgb(5, 27, 27);       
        }

        .header{
            background-color: antiquewhite;
            display:flex;
            justify-content: space-between;

        }
         p{
            color: blueviolet;

        }

        .grid{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-evenly;
            border:solid;
        }

        .footer{
            display:flex;
            justify-content: flex-end;

        }

        h2{
            text-align: center;
            color: darkcyan;
        }
        